<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#-- Este archivo es auto-generado -#}}
    <link rel="stylesheet" href="/style.css">
    {{#- DaisyUI (librería de componentes) -#}}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
		<title>{{ title }}</title>
	</head>
	<body class="flex flex-col min-h-svh">
  {{#- navbar -#}}
		<nav class="navbar sticky bg-base-100 shadow-sm top-0 z-1">
      <div class="flex-1 navbar-start"><a class="btn btn-ghost text-xl px-4" href="/">Sofía</a></div>
      <div class="navbar-end flex-none">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden p-4">
        <div class="i-fa7-solid:list text-xl"></div>
        </div>
        <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 w-52 z-1 mt-3 p-2 rounded-box">
        {{ for it of nav_items }}
          <li><a href="{{it.link}}">{{it.text}}</a></li>
        {{ /for }}
        {{for lnk of socials}}
          <li><a href="{{lnk.link}}">{{lnk.name}}</a></li>
        {{ /for }}
        </ul>
      </div>
      <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-4">
      {{ for it of nav_items }}
          <li class="px-4"><a href="{{it.link}}">{{it.text}}</a></li>
      {{ /for }}
      {{ for lnk of socials }}
        <li class="px-4 text-xl"><a href="{{lnk.link}}"><div class="i-{{lnk.icon}}"></div></a></li>
      {{ /for }}
      </ul>
      </div>
      </div>
    </nav>
    <main class="flex-grow pb-4">
    {{content}}
    </main>
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
      <aside><div class="flex gap-4 items-center">
      <div class="i-fa7-solid:copyright"></div><p>{{new Date().getFullYear()}} Sofía Maturana. Todos los derechos reservados</p>
      </div></aside>
    </footer>
	</body>
</html>
